---
import Layout from '@layouts/Layout.astro'
import Example from '@components/Example.astro'

import { codeNode } from '@utils/consts/codeNode.js'
import { codePython } from '@utils/consts/codePython.js'
import { codePhp } from '@utils/consts/codePhp.js'
import { codeRust } from '@utils/consts/codeRust.js'
---

<Layout>
  
    <main class="w-full h-full flex flex-col items-center mt-20 p-2 md:px-10 xl:px-40">
      <h1 class="text-3xl md:text-6xl text-center text-slate-800/90 font-extrabold mb-30 animate-fade-in-up underline">
        Ejemplificaciones
      </h1>

      <section class="w-full rounded-lg flex flex-col items-center bg-gray-800/50 p-4 mb-20 justify-center gap-16">
        <Example lang="Node js" src="/icons/nodejs.svg" code={codeNode}>
            {codeNode}
        </Example>

        <Example lang="Python" src="/icons/python.svg" code={codePython}>
            {codePython}
        </Example>        

        <Example lang="PHP" src="/icons/php.svg" code={codePhp}>
            {codePhp}
        </Example>

        <Example lang="Rust" src="/icons/rust.svg" code={codeRust}>
            {codeRust}
        </Example>
      </section>
    </main>
  
</Layout>

<script>

</script>